.tox
.cache/v/cache
.history/
.vscode/
.pytest_cache/
docs/_build
build/
dist/
python_binance.egg-info/

*__pycache__

node_modules/


# 
conf/
data/
logs/
technical/
task/
ws/


account.py
balance.py
order.py
user.py


setup.py
task.py
*.png


#
package-lock.json
.travis.yml




